/* Scroll Timeline animation */
@keyframes reveal {
  from {
    opacity: 0;
    scale: 0.6;
    translate: 12% 30%;
    rotate: 10deg;
  }
  to {
    opacity: 1;
    scale: 1;
    translate: 0%;
    rotate: 0deg;
  }
}

.section img {
  animation: auto ease reveal both;
  animation-timeline: view();
  animation-range: entry 20% cover 60%;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p:not(footer p),
h2,
h3,
.testimonials__slider {
  animation: auto ease fade both;
  animation-timeline: view();
  animation-range: entry 30% cover 60%;
  text-wrap: balance;
}
